/**
 *	Automaton design for FINITE STATE MACHINE
 * ----------------------------------------------------------------------------
 * "THE BEER-WARE LICENSE" (Revision 1996):
 * <orissermaroix@gmail.com> wrote this file. You want with this stuff. 
 * If we meet some day, and you think this stuff is worth it, 
 * you can buy me a beer in return. Olivier RISSER-MAROIX
 * ----------------------------------------------------------------------------
 */

/* the states */
.state {
	font-size:18px;
	border:solid black 2px;
	height:50px;
	width:50px;
	text-align:center;
	line-height:50px;
	border-radius:66%;
	position:absolute;
	background-color: lightblue;
	z-index: 99 !important;
	cursor: move;
}

.initial {
	background-color: lightgreen;
}

.final {
	border: double black 5px;
}

.current {
	background-color: #ffb6c1;
}

/* the transitions */
.loop {
	font-size:38pt;
	color:grey;
	position:absolute;
}

.arrow {
	position:absolute;
	font-size:38pt;
	color:grey;
}

sub, sup {
	transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;

    transition: transform 1s ease;
    -moz-transition: -moz-transform 1s ease;
    -o-transition: -o-transform 1s ease;
    -ms-transition: -ms-transform 1s ease;
    -webkit-transition: -webkit-transform 1s ease;
}
